pytz==2022.1
Pillow==11.2.1
redis==5.0.3
hiredis==2.3.2
celery==5.2.6
channels==4.1.0
channels_redis==4.2.0
daphne==4.1.2
django==5.1.1
djangorestframework==3.15.2
loguru==0.7.2
iso3166==2.0.2
django_light==0.1.0.post3
django_extensions==3.2.0
flake8==4.0.1
flake8-isort==4.1.1
coverage==7.4.4
black==24.3.0
pylint-django==2.5.3
pylint-celery==0.3
pre-commit==2.19.0
django-extensions==3.2.0
sentry-sdk==1.44.0
pip-tools==7.4.1
python-dotenv==0.20.0
requests==2.28.1
python-magic==0.4.27
uwsgi==2.0.21
django-filter==24.1
django-modeltranslation==0.18.11
django-storages==1.13.2
easy-thumbnails==2.8.5
boto3==1.38.37
django-phonenumber-field[phonenumberslite]==7.0.1
Wand==0.6.11
plivo==4.40.0
mypy==1.7.1
bcrypt==4.1.2
django-ipware==7.0.1
whitenoise==6.7.0
gunicorn==23.0.0
cloudinary==1.41.0
qrcode==8.0
uvicorn[standard]==0.32.0
